/**
 * Colors
 * -------------------------------------------------------------------------- */
/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #1867c0;
  --vp-c-brand-2: #215aab;
  --vp-c-brand-3: #094691;
  --vp-c-warning-1: #827717;
  --vp-c-warning-soft: #eeeef0;
  --vp-c-danger-1: #b71c1c;
  --vp-c-danger-soft: #ffebee77;
  /* TODO: remove this once new rc, VP has this but not yet released */
  --vp-local-search-highlight-text: var(--vp-c-neutral-inverse);
}
.dark {
  --vp-c-brand-1: #2196f3;
  --vp-c-brand-2: #2da0f8;
  --vp-c-brand-3: #3199f1;
  --vp-c-warning-1: #EAB306;
  --vp-c-danger-1: #fff;
  --vp-c-danger-soft: #660000;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  --vp-custom-block-info-border: var(--vp-c-border);
  --vp-custom-block-info-text: var(--vp-c-text-2);
  --vp-custom-block-info-bg: var(--vp-c-default-soft);
  --vp-custom-block-info-code-bg: var(--vp-c-default-soft);

  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-tip-text: var(--vp-c-brand-1);
  --vp-custom-block-tip-bg: tranparent;
  --vp-custom-block-tip-code-bg: var(--vp-c-default-soft);

  --vp-custom-block-warning-border: var(--vp-c-warning-1);
  --vp-custom-block-warning-text: var(--vp-c-warning-1);
  --vp-custom-block-warning-bg: #ffffe777;
  --vp-custom-block-warning-code-bg: var(--vp-c-warning-soft);

  --vp-custom-block-danger-border: var(--vp-c-danger-1);
  --vp-custom-block-danger-text: var(--vp-c-danger-1);
  --vp-custom-block-danger-bg: var(--vp-c-danger-soft);
  --vp-custom-block-danger-code-bg: #eeeef0;
}

.dark {
  --vp-custom-block-warning-border: #827717;
  --vp-custom-block-warning-text: #EAB306;
  --vp-custom-block-warning-bg: #323238;
  --vp-custom-block-warning-code-bg: #323238;

  --vp-custom-block-danger-code-bg: #323238;
}
/**
 * Component: Button
 * -------------------------------------------------------------------------- */
.dark {
  --vp-button-brand-hover-text: #000;
  --vp-button-brand-text: #000;
}

/**
 * Component: VPSidebarItem
 * -------------------------------------------------------------------------- */
.VPSidebarItem.level-1 .items,
.VPSidebarItem.level-2 .items,
.VPSidebarItem.level-3 .items,
.VPDocAside .has-outline .content {
  position: relative;
  border-left-color: transparent !important;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: var(--vp-c-border);
    animation: 0.5s linear forwards border-horizontal;
  }
}

@keyframes border-horizontal {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

