/* Any variables in the sass files in this folder - https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/styles/settings/ */

// $font-family: 'Inter var', 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
@use 'vuetify' with (
  $utilities: false,
  // $reset: false,
  $color-pack: false,
  // $body-font-family: $font-family
);
